{
    "extends": ["@cyteliz/eslint-config/typescript", "prettier"],
    "plugins": ["prettier"],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "class-methods-use-this": 0,
        "@typescript-eslint/naming-convention": 0
    }
}
